@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li,
a,
header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a :hover {
  color: aqua;
}
button {
  padding: 10px 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

body {
  margin: 0;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  font-size: 16px;
  text-align: center;
  margin-right: 3%;
  margin-top: 10%;
}

h3 {
  font-size: 21px;
  margin: 0;
}

.pic {
  width: 30%;
  margin-left: 0%;
}

.pic img {
  width: 100%;
  height: auto;
}
